<%- include('../partials/header') %>
    <section class="bookNotes max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg mt-8">
        <!-- Book Info -->

        <div class="flex items-center mb-6">
            <img class="w-32 h-48 object-cover rounded-md mr-6" src="<%=book.bookCoverUrl %>"
                alt="Book cover of <%= book.title %>">
            <div>
                <h1 class="text-3xl font-semibold text-gray-800">
                    <%= book.title %> by <%= book.author_name %>
                </h1>
                <h4 class="text-lg text-gray-500">OLID: <%= book.olid %>
                </h4>
                <h4 class="text-lg text-gray-500">Date Read: <%= book.formatted_date %>
                </h4>
                <h4 class="text-lg text-gray-500">Rating: <%= book.rating %>/10</h4>
            </div>
        </div>

        <div class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-800 mb-2">Summary</h2>
            <p>
                <%= book.summary %>
            </p>
        </div>

        <!-- Edit and Delete Options -->
        <div class="flex space-x-4 mb-8">
            <a href="/dashboard/edit/<%=book.olid%>" class="text-amber-600 hover:text-amber-700">Edit Book Details</a>
            <form action="/dashboard/delete/<%=book.olid%>" method="post" class="inline">
                <button type="submit" class="text-red-500 hover:text-red-700">Delete</button>
            </form>
        </div>

        <!-- Notes Section -->
        <div class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Notes</h2>
            <% if(notes.length===0) { %>
                <p class="text-gray-500">No notes to display</p>
                <% } else { %>
                    <% notes.forEach((note, i)=> {%>
                        <article class="note mb-4 p-4 border border-gray-300 rounded-md" data-id="<%= note.id %>">
                            <p id="noteContent-<%- note.id %>" class="text-gray-700 mb-2">
                                <%= note.content %>
                            </p>
                            <small id="date-<%= note.id %>" class="text-sm text-gray-500 mr-12">Last updated on: <%=
                                    note.formatted_date %></small>
                            <div class="ml-20" style="display: block;">
                                <button id="editBtn-<%= note.id %>" onclick="toggleEdit('<%= note.id %>')"
                                    class="text-amber-600 hover:text-amber-700">
                                    Edit
                                </button>
                                <button id="saveBtn-<%= note.id %>" onclick="toggleEdit('<%= note.id %>')"
                                    class="text-amber-600 hover:text-amber-700" style="display:none;">
                                    Save
                                </button>
                            </div>

                        </article>
                        <% }); %>
                            <% } %>
        </div>

        <div class="mb-8">
            <form action="/dashboard/books/<%=book.olid%>/note" method="post" class="space-y-4">
                <label for="note" class="block text-gray-700 font-medium">Add a note:</label>
                <textarea name="note" id="note" required
                    class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea><br />
                <br />
                <button type="submit"
                    class="w-full bg-amber-600 text-white py-2 rounded-md hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Add
                    Note</button>
            </form>
        </div>
    </section>
    <script>
        const olid = "<%= book.olid %>";
    </script>
    <%- include('../partials/footer') %>